body {
    margin: 0;
    padding: 0;
    background: midnightblue
}

section {
    margin-left: 20px;
}

h1 {
    font-size: 28px;
    color: white;
}

header > p {
    font-style: italic;
    color:darkseagreen
}

article > p {
    font-size 24px;
    color:aliceblue
}